html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Add this class to any element you want to show a loading indicator on top of */
.loading-container {
    position: relative;
    min-height: 150px; /* Ensures the spinner is visible even if the container is empty */
}


#full-page-loader {
    position: fixed;
    inset: 0; /* This sets top, bottom, left, and right to 0 */
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999; /* A high z-index to ensure it's on top of everything */
    display: flex;
    align-items: center;
    justify-content: center;
}