<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="myModalLabel">Delete</h5>
                <button type="button" class="btn-close" id="btnClose" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">
                <input type="hidden" id="ID" value="" />
                <!-- Status -->
                <div class="form-floating mb-3" >
                    <div class="input-group">
                        <span class="input-group-text bg-danger text-white">
                            <i class="bi bi-x-circle"></i>
                        </span>
                        <input type="text" class="form-control text-danger fw-bold" id="lblDeleteMessage" value="Can attend" readonly />
                    </div>
                </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" id="btnCancel" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle"></i> Cancel
                </button>
                <button type="submit" id="btnDelete" class="btn btn-outline-danger" onclick="btnDelete_click()">
                    <i class="bi bi-x-circle"></i> Delete
                </button>
            </div>
        </div>
    </div>
</div>