<div id="loadingIndicator" class="text-center my-3 d-none">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div><i class="fas fa-sync fa-spin"></i> Loading data...</div>
</div>