<div class="mb-3 d-flex align-items-center">
    <div class="form-floating flex-grow-1">
        <input class="form-control" id="SearchString" placeholder="Enter Code" />
        <label>Code</label>
    </div>
    <!-- Scan QR Code Button (only visible on mobile) -->
    <button type="button" id="btnScanQR" class="btn btn-secondary ms-2 d-md-none">Scan QR</button>

    <button id="btnCheck" class="btn btn-primary ms-2">Check</button>
</div>
<div id="qrScannerContainer" class="mt-3 d-none">
    <div id="reader" style="width: 100%;"></div>
    <button id="btnStopScan" class="btn btn-danger mt-2">Stop Scanning</button>
</div>