@page
@model SM.APP.Pages.Admin.Authenticator.IndexModel
@{
}

<div class="form-floating flex-grow-1">
    <input asp-for="Token" class="form-control" id="Token"  />
    <label asp-for="Token">Token</label>
</div>