@page
@model SM.APP.Pages.Attendance.IndexModel
@{
    ViewData["Title"] = "Classes";
}
<div class="container mt-5">
    <h2 class="text-center mb-4">Upcoming Events</h2>
    <div class="row g-3">
        @foreach (var item in Model.Classes)
        {
            <div class="col-md-6 col-lg-4">
                <div class="card p-3 shadow-sm">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.ClassName)</h5>
                    <div class="d-flex justify-content-between">
                        <a asp-page="./ClassOccurances" asp-route-classID="@item.ClassID" class="btn btn-primary">View Meetings</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>