@page
@model SM.APP.Pages.Classess.IndexModel
@{
    ViewData["Title"] = "Classes";
}
<div class="container mt-5">
    <h2 class="text-center mb-4">Classes</h2>
    <div class="row g-3">
        @foreach (var item in Model.Classes)
        {
            <div class="col-md-6 col-lg-4">
                <div class="card p-3 shadow-sm">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.ClassName)</h5>
                    <div class="d-flex justify-content-between">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="classActionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="classActionsDropdown">
                                <li>
                                    <a class="dropdown-item" asp-page="./ClassMembers" asp-route-classID="@item.ClassID">Class Members</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-page="./ClassOccurances" asp-route-classID="@item.ClassID">View Meetings</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        }
    </div>

</div>