@page
@model SM.APP.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Administration";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">System Modules</h2>
    <div class="row g-3">
        <!-- Change Password -->
        <div class="col-6 col-md-4 col-lg-3">
            <a href="/Identity/Account/Manage/ChangePassword" class="text-decoration-none">
                <div class="card text-center p-4 shadow-sm">
                    <i class="bi bi-key fs-1"></i>
                    <h5 class="mt-2">Change Password</h5>
                </div>
            </a>
        </div>
        <!--Classes-->
        <div class="col-6 col-md-4 col-lg-3" auth-policy="Class.Manage">
            <a href="/Admin/Classes" class="text-decoration-none">
                <div class="card text-center p-4 shadow-sm">
                    <i class="bi bi-calendar-check fs-1"></i>
                    <h5 class="mt-2">Classes</h5>
                </div>
            </a>
        </div>
        

        <!-- Events -->
        <div class="col-6 col-md-4 col-lg-3" auth-policy="Events.Manage">
            <a href="/Admin/Events" class="text-decoration-none">
                <div class="card text-center p-4 shadow-sm">
                    <i class="bi bi-calendar-event fs-1"></i>
                    <h5 class="mt-2">Events</h5>
                </div>
            </a>
        </div>
        
        <!-- Aids -->
        <div class="col-6 col-md-4 col-lg-3" auth-policy="Aids.Manage">
            <a href="/Admin/Aids" class="text-decoration-none">
                <div class="card text-center p-4 shadow-sm">
                    <i class="bi bi-hospital fs-1"></i>
                    <h5 class="mt-2">Aids</h5>
                </div>
            </a>
        </div>

        <!-- Servants  -->
        <div class="col-6 col-md-4 col-lg-3">
            <a href="/Admin/Servants" auth-policy="Servants.Manage" class="text-decoration-none">
                <div class="card text-center p-4 shadow-sm">
                    <i class="bi bi-person-badge fs-1"></i>
                    <h5 class="mt-2">Servants</h5>
                </div>
            </a>
        </div>
    </div>
</div>

