@page
@model SM.APP.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Administration";
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = user != null && await UserManager.IsInRoleAsync(user, "Admin");
    var isServant = user != null && await UserManager.IsInRoleAsync(user, "Servant");
}
<div class="container mt-5">
    <h2 class="text-center mb-4">System Modules</h2>
    <div class="row g-3">
        <div class="col-6 col-md-4 col-lg-3">
            <a href="/Classess" class="text-decoration-none">
                <div class="card text-center p-4 shadow-sm">
                    <i class="bi bi-calendar-check fs-1"></i>
                    <h5 class="mt-2">Classes</h5>
                </div>
            </a>
        </div>
        <!-- Members -->
        <div class="col-6 col-md-4 col-lg-3">
            <a href="/Identity/Account/Manage/ChangePassword" class="text-decoration-none">
                <div class="card text-center p-4 shadow-sm">
                    <i class="bi bi-people fs-1"></i>
                    <h5 class="mt-2">Change Password</h5>
                </div>
            </a>
        </div>

        <!-- Events -->
        <div class="col-6 col-md-4 col-lg-3">
            <a href="/Admin/Events" class="text-decoration-none">
                <div class="card text-center p-4 shadow-sm">
                    <i class="bi bi-calendar-event fs-1"></i>
                    <h5 class="mt-2">Events</h5>
                </div>
            </a>
        </div>
        
        <!-- Aids -->
        <div class="col-6 col-md-4 col-lg-3">
            <a href="/Admin/Aids" class="text-decoration-none">
                <div class="card text-center p-4 shadow-sm">
                    <i class="bi bi-hospital fs-1"></i>
                    <h5 class="mt-2">Aids</h5>
                </div>
            </a>
        </div>

        <!-- Funds -->
        <div class="col-6 col-md-4 col-lg-3">
            <a href="funds.html" class="text-decoration-none">
                <div class="card text-center p-4 shadow-sm">
                    <i class="bi bi-cash-coin fs-1"></i>
                    <h5 class="mt-2">Funds</h5>
                </div>
            </a>
        </div>
    </div>
</div>

