@page
@model SM.APP.Pages.Cards.IndexModel

@{
    ViewData["Title"] = "Cards";
}
@using SM.DAL.DataModel
<partial name="_LoadingPartial" />
<div class="container mt-4" id="container">
    <div class="container">
        <partial name="_SuccessToastPartial" />
        <div class="row align-items-center mb-2">
            <!-- Title and Counter in the same line -->
            <div class="col-12 d-flex justify-content-between align-items-center">
                <h4 class="mb-0">Members' Cards</h4>
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12">
                <div class="form-floating">
                    <select id="dpCardStatus" class="form-select">
                        <option value="">Select Card Status</option>
                        <option value="MissingPhoto">Missing photo</option>
                        <option value="ReadyToPrint">Ready to print</option>
                        <option value="Printed">Printed</option>
                        <option value="Delivered">Delivered</option>
                        <option value="NotApplicable">Not applicable</option>
                    </select>
                    <label>Card Status</label>
                </div>
            </div>
            <partial name="_SearchPartial" />
        </div>
    </div>

    <partial name="_ModalPartial" />

</div>



<script>
    var apiBaseUrl = '@Services.SMConfigurationManager.ApiBase';
    document.addEventListener("DOMContentLoaded", function () {
        fetchCardStatusMembers('');
    });
   
    
    document.getElementById("btnCheck").addEventListener("click", function () {
        const searchValue = document.getElementById("SearchString").value.trim();
        const cardStatus = document.getElementById("dpCardStatus").value.trim();
        if (!searchValue) {
            alert("Please enter a search value.");
            return;
        }
        if (!cardStatus) {
            alert("Please choose card status.");
            return;
        }
        fetchMemberData(searchValue);
    });
    async function fetchMemberData(searchValue) {

        try {
            const apiUrl = `${apiBaseUrl}/Member/GetMemberByCode?memberCode=${encodeURIComponent(searchValue)}`;
            const response = await fetch(apiUrl, {
                method: "GET",
                credentials: "include",
                headers: {
                    "Content-Type": "application/json"
                }
            });

            if (!response.ok) {
                alert("Failed to fetch data. Please try again later.");
                return;
            }
            const text = await response.text();
            if (text) {
                const member = JSON.parse(text);
                populateModal(member);
            }
            else
            {
                populateModal(null);
            }

            showModal();
        } catch (error) {
            console.error("Network error:", error);
            alert("Failed to fetch data. Please try again later.");
        }
    }
    // Function to fill modal with API response
    function populateModal(member) {
        if(member){
            $("#divTeam").hide();
            $("#divBus").hide();
            $("#divStatus").hide();
            $("#divStatusAlert").hide();
            $("#divAge").hide();


            document.getElementById("MemberCode").value =member.code;
            document.getElementById("MemberName").value =member.fullName;

            document.getElementById("CardStatus").value =document.getElementById("dpCardStatus").value;
            document.getElementById("lblCard").innerText ='Update card status to';
            document.getElementById("submitBtn").innerHTML = '<i class="bi bi-check-circle"></i> Update';

            document.querySelector('input[name="MemberCode"]').value = member.code;
            $("#MemberDataBody").show();
            $("#submitBtn").show();
        }
        else{
            document.getElementById("MemberStatus").value = "Member not found.";
            $("#MemberDataBody").hide();
            $("#submitBtn").hide();
            $("#divStatus").show();
        }
    }

    document.getElementById("submitBtn").addEventListener("click", function () {

        const cardStatus = document.getElementById("dpCardStatus").value;
        const memberCode = document.querySelector('input[name="MemberCode"]').value;

        const apiUrl = `${apiBaseUrl}/Member/UpdateMemberCard`;


        fetch(apiUrl, {
            method: "POST",
            credentials: "include",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({  memberCode: memberCode, cardStatus: cardStatus})
        })
        .then(data => {
            closeModal(); // Close the modal after successful API call
            var searchInput = document.getElementById("SearchString");
            searchInput.value = "";
            searchInput.focus();
            showSuccessToast("Card status updated successfully");
        })
        .catch(error => {
            console.error("Error:", error);
            closeModal();
            showFailedToast("Failed to add member. Please try again.");
        });
    });
</script>