@page
@model SM.APP.Pages.Classes.TakeAttendanceModel
@{
    ViewData["Title"] = "Take Attendance";
}
@using SM.APP.Pages.Classes
@using SM.DAL.DataModel
<div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="mb-0">
        <span id="title"> Take Ateendance </span><span id="counter" class="text-muted fw-normal"></span>
    </h4>
</div>
<input type="hidden" name="classOccurenceID" value="@ViewContext.HttpContext.Request.Query["classOccurenceID"]" />
<partial name="_SuccessToastPartial" />
<partial name="_SearchPartial" />
<partial name="_ModalPartial" />
@section Scripts {
    <script>
        var apiBaseUrl = '@Services.SMConfigurationManager.ApiBase';
    </script>
    <script src="~/js/meetings/attendance.js" asp-append-version="true"></script>
}