@page
@model SM.APP.Pages.Admin.Members.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Member.MemberID" />
            <div class="form-group">
                <label asp-for="Member.UNFirstName" class="control-label"></label>
                <input asp-for="Member.UNFirstName" class="form-control" />
                <span asp-validation-for="Member.UNFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.Code" class="control-label"></label>
                <input asp-for="Member.Code" class="form-control" />
                <span asp-validation-for="Member.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.UNLastName" class="control-label"></label>
                <input asp-for="Member.UNLastName" class="form-control" />
                <span asp-validation-for="Member.UNLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.Nickname" class="control-label"></label>
                <input asp-for="Member.Nickname" class="form-control" />
                <span asp-validation-for="Member.Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.UNFileNumber" class="control-label"></label>
                <input asp-for="Member.UNFileNumber" class="form-control" />
                <span asp-validation-for="Member.UNFileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.UNPersonalNumber" class="control-label"></label>
                <input asp-for="Member.UNPersonalNumber" class="form-control" />
                <span asp-validation-for="Member.UNPersonalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.Mobile" class="control-label"></label>
                <input asp-for="Member.Mobile" class="form-control" />
                <span asp-validation-for="Member.Mobile" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Member.Baptised" /> @Html.DisplayNameFor(model => model.Member.Baptised)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Member.Birthdate" class="control-label"></label>
                <input asp-for="Member.Birthdate" class="form-control" />
                <span asp-validation-for="Member.Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.Gender" class="control-label"></label>
                <input asp-for="Member.Gender" class="form-control" />
                <span asp-validation-for="Member.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.School" class="control-label"></label>
                <input asp-for="Member.School" class="form-control" />
                <span asp-validation-for="Member.School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.Work" class="control-label"></label>
                <input asp-for="Member.Work" class="form-control" />
                <span asp-validation-for="Member.Work" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Member.IsMainMember" /> @Html.DisplayNameFor(model => model.Member.IsMainMember)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Member.IsActive" /> @Html.DisplayNameFor(model => model.Member.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Member.ImageReference" class="control-label"></label>
                <input asp-for="Member.ImageReference" class="form-control" />
                <span asp-validation-for="Member.ImageReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Member.Notes" class="control-label"></label>
                <input asp-for="Member.Notes" class="form-control" />
                <span asp-validation-for="Member.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
