@page
@model SM.APP.Pages.Aids.IndexModel
@{
    ViewData["Title"] = "Aids";
}
<div class="container mt-5">
    <h2 class="text-center mb-4">Upcoming Aids</h2>
    <div class="row g-3">
        @foreach (var item in Model.Aids)
        {
            <div class="col-md-6 col-lg-4">
                <div class="card p-3 shadow-sm">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.AidName)</h5>
                    <div class="d-flex justify-content-between">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="classActionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="classActionsDropdown">
                                <li>
                                    <a class="dropdown-item" asp-page="./RegisterAid" asp-route-aidID="@item.AidID">Registration</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>