@page
@model SM.APP.Pages.Admin.Meeting.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Meeting</h1>

<div class="card shadow-lg p-4">
    @* @if (Model.ShowMessage)
    {
        <div id="Message" class="alert alert-success w-100 text-center">
            @Model.Message
        </div>
    } *@

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row g-3 mt-2">
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Meeting.MeetingName" class="form-control" id="MeetingName" placeholder="Enter Meeting Name">
                    <label for="MeetingName" asp-for="Meeting.MeetingName"></label>
                </div>
                <span asp-validation-for="Meeting.MeetingName" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-check form-switch mt-3">
                <input class="form-check-input" type="checkbox" asp-for="Meeting.IsActive" id="IsActive">
                <label class="form-check-label" for="IsActive">
                    @Html.DisplayNameFor(model => model.Meeting.IsActive)
                </label>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Meeting.AgeStartDate" class="form-control" id="AgeStartDate" placeholder="Enter Age Start Date">
                    <label for="AgeStartDate" asp-for="Meeting.AgeStartDate"></label>
                </div>
                <span asp-validation-for="Meeting.AgeStartDate" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Meeting.AgeEndDate" class="form-control" id="AgeEndDate" placeholder="Enter Age End Date">
                    <label for="AgeEndDate" asp-for="Meeting.AgeEndDate"></label>
                </div>
                <span asp-validation-for="Meeting.AgeEndDate" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Meeting.MeetingStartDate" class="form-control" id="MeetingStartDate" placeholder="Enter Start Date">
                    <label for="MeetingStartDate" asp-for="Meeting.MeetingStartDate"></label>
                </div>
                <span asp-validation-for="Meeting.MeetingStartDate" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Meeting.MeetingEndDate" class="form-control" id="MeetingEndDate" placeholder="Enter End Date">
                    <label for="MeetingEndDate" asp-for="Meeting.MeetingEndDate"></label>
                </div>
                <span asp-validation-for="Meeting.MeetingEndDate" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <select asp-for="Meeting.MeetingDay" class="form-select">
                        <option value="">Select Day</option>
                        <option value="NA">NA</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                    </select>
                    <label asp-for="Meeting.MeetingDay"></label>
                </div>
                <span asp-validation-for="Meeting.MeetingDay" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Meeting.MeetingStartTime" class="form-control" id="MeetingStartTime" placeholder="Enter Start Time">
                    <label for="MeetingStartTime" asp-for="Meeting.MeetingStartTime"></label>
                </div>
                <span asp-validation-for="Meeting.MeetingStartTime" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Meeting.MeetingEndTime" class="form-control" id="MeetingEndTime" placeholder="Enter End Time">
                    <label for="MeetingEndTime" asp-for="Meeting.MeetingEndTime"></label>
                </div>
                <span asp-validation-for="Meeting.MeetingEndTime" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input asp-for="Meeting.MeetingFrequency" class="form-control" id="MeetingFrequency" placeholder="Enter Frequency">
                    <label for="MeetingFrequency" asp-for="Meeting.MeetingFrequency"></label>
                </div>
                <span asp-validation-for="Meeting.MeetingFrequency" class="text-danger"></span>
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                    <textarea asp-for="Meeting.Notes" class="form-control" id="MeetingNotes" placeholder="Enter Notes" style="height: 100px;"></textarea>
                    <label for="MeetingNotes" asp-for="Meeting.Notes"></label>
                </div>
                <span asp-validation-for="Meeting.Notes" class="text-danger"></span>
            </div>
        </div>
        
        <div class="d-flex justify-content-between mt-4">
            <a asp-page="Index" class="btn btn-outline-secondary">Back to List</a>
            <div class="d-flex gap-2">
                <button type="submit" name="action" value="Add" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
